<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />


<link rel="stylesheet" th:href="@{/css/style.css}" />
<script th:src="@{/js/script.js}"></script>

<title th:text="${title}">Base|Page</title>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<!--  navbar -->

	<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<h4>
					<b>Smart Contact Manager</b>
				</h4>
			</a>
			<!-- <button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button> -->

			<!-- 	<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto text-uppercase">
					<li class="nav-item active"><a class="nav-link"
						aria-current="page" th:href="@{/}"><span class="sr-only"><b>Home</b></span></a>
					</li>

					<li class="nav-item"><a class="nav-link" tabindex="-1"><b><span
								class="sr-only"
								th:text="${user.firstName + ' ' +user.lastName }"></span></b></a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}"
						tabindex="-1"><b>Logout</b></a></li>
				</ul>
			</div> -->


		</div>
	</nav>
	<!-- End of NavBar -->

	<!-- sidebar  -->
	<div class="sidebar mt-3">

		<span onclick="toggleSidebar();" class="crossBtn">&times;</span>
		 <a
			id="home-link" href="#" th:href="@{/user/index}" class="item"><i
			class="fas fa-home"></i>&nbsp;&nbsp; Home</a>
			
			 <a href="#" id="viewCont-link"
			th:href="@{/user/showContacts/0}" class="item"><i
			class="fas fa-users"></i>&nbsp;&nbsp; ViewContacts</a>
			
			 <a href="#" id="addCont-link"
			th:href="@{/user/addContact}" class="item"><i class="fas fa-edit"></i>
			&nbsp;&nbsp;Add Contact</a> 
			
			<a href="#" id="profile-link" th:href ="@{/user/my-profile}" class="item"><i
			class="fas fa-id-badge"></i>&nbsp;&nbsp;Your Profile</a>

 <a id="setting-link" href="#" th:href ="@{/user/setting}"
			class="item"><i class="fas fa-users-cog"></i>&nbsp;&nbsp;Settings</a>
		<a href="#" th:href="@{/logout}" class="item"><i
			class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a>
		<div class="divider"></div>
	</div>
	<!-- end of sidebar  -->

	<!-- content area -->
	<div class="content mt-5">

		<i onclick="toggleSidebar();" class="fas fa-bars mt-4 mr-2"></i>

		<div th:if="${session.message}" class="container">

			<div th:classappend="${'alert-' +session.message.type}"
				class="alert  text-center">
				<span th:text="${session.message.content}"></span>
			</div>

			<th:block th:text="${#session.removeAttribute('message')}"></th:block>

		</div>


		<div th:replace="${content}"></div>

		<!-- end of content area -->
		<div style="margin-right: 20px;">		
		<footer class="text-center">
			<p>Created By &#169; Manoj Bhale</p>
		</footer>
		</div>
	</div>


	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
    
     <!-- cdn for sweet alert-->
	 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	 
	 <script>
	 
	 function deleteContact(contactId){
		
		/*  swal({
			  title: "Are you sure?",
			  text: "Do you want to delete this contact!",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((willDelete) => {
			  if (willDelete) {			  
				  window.location="/user/delete"+contactId;
				  			  				  
			    });
			  } else {
			    swal("Your contact is safe!");
			  }
			});
		  */
	 
			
			swal({
				  title: "Are you sure?",
				  text: "Once deleted, you will not be able to recover this contact!",
				  icon: "warning",
				  buttons: true,
				  dangerMode: true,
				})
				.then((willDelete) => {
				  if (willDelete) {
					  window.location="/SmartContactManager/user/delete/"+contactId;
				  } else {
				    swal("Your contact is safe!");
				  }
				});
	 
		  }
	 </script>
	 

<!-- 	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>
</html>