<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>



		<div class="card">

			<div class="card-body">

				<div class="text-center">
					<img style="height: 170px; width: 170px;" class="contact_picture"
						src="" th:src="@{'/images/'+${user.imageUrl}}" alt="profile photo" />
				</div>
				<h2 class="text-center mt-1"
					th:text="${user.firstName+' '+user.lastName}"></h2>

				<div class="table-responsive mt-1">
					<table class="table table-hover">
						<thead>

							<tr>
								<th scope="col">User Id</th>
								<th scope="col"><span th:text="${'SCM21'+user.userId}"></span></th>
							</tr>

						</thead>
						<tbody>


							<tr>
								<th scope="row">Email</th>
								<td><span th:text="${user.email}"></span></td>
							</tr>

							<tr>
								<th scope="row">Role</th>
								<td><span th:text="${user.role}"></span></td>
							</tr>

							<tr>
								<th scope="row">Account Active</th>
								<td><span th:text="${user.enabled}"></span></td>
							</tr>

							<tr>
								<th scope="row">MobileNo</th>
								<td><span th:text="${user.mobileNo}"></span></td>
							</tr>

							<tr>
								<th scope="row">Alternate Mobile No</th>
								<td><span th:text="${user.alternateMobileNo}"></span></td>
							</tr>
							<tr>
								<th>About Me</th>
							</tr>
						</tbody>
					</table>
					<div class="about">

						<th:block th:utext="${user.about}"></th:block>

					</div>

				</div>

			</div>

		</div>

		<script>
		$(document).ready(() =>
	     {
	 		$('.item').removeClass('active');
			$('#profile-link').addClass('active');
	     });
		
		</script>
	</section>
</body>
</html>