<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>SCM | ChangePassword</title>
</head>
<body>
	<section class="banner">
		<div id="fp"></div>
		<div class="container">
			<div id="fp-row"
				class="row justify-content-center align-items-center">
				<div id="fp-column" class="col-md-6">

					<div id="box" class="col-md-12">

						<div class="text-center">

										
							<div class="form-group" style="margin-top: 220px;">
							
							<h3 class="mt-3">Enter Your New Password</h3>
							
							
							
								<form th:action="@{/changePassword}" method="post">
									<input required type="password" name="newPassword" id="newPassword" placeholder="Enter your new password"
										class="form-control mt-3" />


									<div class="container text-center">

										<button class="form-control btn btn-primary mt-3">
											Change Password</button>
									</div>

								</form>
							</div>


						</div>

					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>